<!DOCTYPE html>
<html>
  <head>
    <title>Clock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <% if signed_in? %>
        <%= render 'shared/sidebar' %>
        <div class="col-9">
          <%= yield %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
  </body>
</html>
